.vu-row
    letter-spacing: -0.31em
    *letter-spacing: normal
    *word-spacing: -0.43em
    text-rendering: optimizespeed

.opera-only :-o-prefocus, .vu-row
    word-spacing: -0.43em

.vu-col
    display: inline-block
    zoom: 1
    *display: inline
    letter-spacing: normal
    word-spacing: normal
    vertical-align: top
    text-rendering: auto

.vu-col-1, .vu-col-1-2, .vu-col-1-3, .vu-col-2-3, .vu-col-1-4, .vu-col-3-4, .vu-col-1-5, .vu-col-2-5, .vu-col-3-5, .vu-col-4-5, .vu-col-1-6, .vu-col-5-6, .vu-col-1-7, .vu-col-2-7, .vu-col-3-7, .vu-col-4-7, .vu-col-5-7, .vu-col-6-7, .vu-col-1-8, .vu-col-3-8, .vu-col-5-8, .vu-col-7-8, .vu-col-1-9, .vu-col-2-9, .vu-col-4-9, .vu-col-5-9, .vu-col-6-9, .vu-col-7-9, .vu-col-8-9, .vu-col-1-10, .vu-col-3-10, .vu-col-7-10, .vu-col-9-10, .vu-col-1-11, .vu-col-2-11, .vu-col-3-11, .vu-col-4-11, .vu-col-5-11, .vu-col-6-11, .vu-col-7-11, .vu-col-8-11, .vu-col-9-11, .vu-col-10-11, .vu-col-1-12, .vu-col-5-12, .vu-col-7-12, .vu-col-9-12, .vu-col-11-12
    display: inline-block
    zoom: 1
    *display: inline
    letter-spacing: normal
    word-spacing: normal
    vertical-align: top
    text-rendering: auto

.vu-col-1
    display: block

.vu-col-1-2
    width: 600px

.vu-offset-1-2
    margin-left: 600px

.vu-col-1-3
    width: 399.9996px

.vu-offset-1-3
    margin-left: 399.9996px

.vu-col-2-3
    width: 800.0004px

.vu-offset-2-3
    margin-left: 800.0004px

.vu-col-1-4
    width: 300px

.vu-offset-1-4
    margin-left: 300px

.vu-col-3-4
    width: 900px

.vu-offset-3-4
    margin-left: 900px

.vu-col-1-5
    width: 240px

.vu-offset-1-5
    margin-left: 240px

.vu-col-2-5
    width: 480px

.vu-offset-2-5
    margin-left: 480px

.vu-col-3-5
    width: 720px

.vu-offset-3-5
    margin-left: 720px

.vu-col-4-5
    width: 960px

.vu-offset-4-5
    margin-left: 960px

.vu-col-1-6
    width: 200.0004px

.vu-offset-1-6
    margin-left: 200.0004px

.vu-col-5-6
    width: 999.9996px

.vu-offset-5-6
    margin-left: 999.9996px

.vu-col-1-7
    width: 171.4284px

.vu-offset-1-7
    margin-left: 171.4284px

.vu-col-2-7
    width: 342.8568px

.vu-offset-2-7
    margin-left: 342.8568px

.vu-col-3-7
    width: 514.2852px

.vu-offset-3-7
    margin-left: 514.2852px

.vu-col-4-7
    width: 685.7148px

.vu-offset-4-7
    margin-left: 685.7148px

.vu-col-5-7
    width: 857.1432px

.vu-offset-5-7
    margin-left: 857.1432px

.vu-col-6-7
    width: 1028.5716px

.vu-offset-6-7
    margin-left: 1028.5716px

.vu-col-1-8
    width: 150px

.vu-offset-1-8
    margin-left: 150px

.vu-col-3-8
    width: 450px

.vu-offset-3-8
    margin-left: 450px

.vu-col-5-8
    width: 750px

.vu-offset-5-8
    margin-left: 750px

.vu-col-7-8
    width: 1050px

.vu-offset-7-8
    margin-left: 1050px

.vu-col-1-9
    width: 133.3332px

.vu-offset-1-9
    margin-left: 133.3332px

.vu-col-2-9
    width: 266.6664px

.vu-offset-2-9
    margin-left: 266.6664px

.vu-col-4-9
    width: 533.3328px

.vu-offset-4-9
    margin-left: 533.3328px

.vu-col-5-9
    width: 666.6672px

.vu-offset-5-9
    margin-left: 666.6672px

.vu-col-6-9
    width: 800.0004px

.vu-offset-6-9
    margin-left: 800.0004px

.vu-col-7-9
    width: 933.3336px

.vu-offset-7-9
    margin-left: 933.3336px

.vu-col-8-9
    width: 1066.6668px

.vu-offset-8-9
    margin-left: 1066.6668px

.vu-col-1-10
    width: 120px

.vu-offset-1-10
    margin-left: 120px

.vu-col-3-10
    width: 360px

.vu-offset-3-10
    margin-left: 360px

.vu-col-7-10
    width: 840px

.vu-offset-7-10
    margin-left: 840px

.vu-col-9-10
    width: 1080px

.vu-offset-9-10
    margin-left: 1080px

.vu-col-1-11
    width: 109.0908px

.vu-offset-1-11
    margin-left: 109.0908px

.vu-col-2-11
    width: 218.1816px

.vu-offset-2-11
    margin-left: 218.1816px

.vu-col-3-11
    width: 327.2724px

.vu-offset-3-11
    margin-left: 327.2724px

.vu-col-4-11
    width: 436.3632px

.vu-offset-4-11
    margin-left: 436.3632px

.vu-col-5-11
    width: 545.454px

.vu-offset-5-11
    margin-left: 545.454px

.vu-col-6-11
    width: 654.546px

.vu-offset-6-11
    margin-left: 654.546px

.vu-col-7-11
    width: 763.6368px

.vu-offset-7-11
    margin-left: 763.6368px

.vu-col-8-11
    width: 872.7276px

.vu-offset-8-11
    margin-left: 872.7276px

.vu-col-9-11
    width: 981.8184px

.vu-offset-9-11
    margin-left: 981.8184px

.vu-col-10-11
    width: 1090.9092px

.vu-offset-10-11
    margin-left: 1090.9092px

.vu-col-1-12
    width: 99.9996px

.vu-offset-1-12
    margin-left: 99.9996px

.vu-col-5-12
    width: 500.0004px

.vu-offset-5-12
    margin-left: 500.0004px

.vu-col-7-12
    width: 699.9996px

.vu-offset-7-12
    margin-left: 699.9996px

.vu-col-9-12
    width: 900px

.vu-offset-9-12
    margin-left: 900px

.vu-col-11-12
    width: 1100.0004px

.vu-offset-11-12
    margin-left: 1100.0004px

.vu-row-r
    letter-spacing: -0.31em
    *letter-spacing: normal
    word-spacing: -0.43em

.opera-only :-o-prefocus, .vu-row-r
    word-spacing: -0.43em

.vu-row-r img
    max-width: 100%

@media (min-width:980px)
    .vu-visible-phone
        display: none
    .vu-visible-tablet
        display: none
    .vu-visible-desktop
    .vu-hidden-phone
    .vu-hidden-tablet
    .vu-hidden-desktop
        display: none

@media (max-width:480px)
    .vu-row-r > [class ^= "vu-col"]
        width: 100%

@media (max-width:767px)
    .vu-row-r > [class ^= "vu-col"]
        width: 100%
    .vu-visible-phone
    .vu-hidden-phone
        display: none
    .vu-hidden-desktop
    .vu-visible-desktop
        display: none

@media (min-width:768px) and (max-width:979px)
    .vu-visible-tablet
    .vu-hidden-tablet
        display: none
    .vu-hidden-desktop
    .vu-visible-desktop
        display: none

