@require '/elements/intro.styl'
@require '/elements/footer.styl'
@require '/elements/banner.styl'

body, html
    height 100%
    width 100%

body, h1, h2, h3, h4, h5, h6
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight 700

/*
 * Landing Page
 */
.content-section-a
    background-color #f8f8f8
    padding 50px 0

.content-section-b
    border-top 1px solid #e7e7e7
    border-bottom 1px solid #e7e7e7
    padding 50px 0

.section-heading
    margin-bottom 30px

.section-heading-spacer
    border-top 3px solid #e7e7e7
    width 200px
    float left

/*
 * ...
 */
